body {
  background-image: url("./img/bgimage1.png");
}

.outer-container {
  width: 1200px;
  height: 500px;
  background-color: #11111b;
  display: flex;
}

.inner-container-search {
  width: 500px;
  height: 300px;
  background-color: pink;
  margin: 15px;
}

.inner-container-apod {
  width: 500px;
  height: 300px;
  background-color: pink;
  margin: 15px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}